* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.sticky-nav1 {
    position: fixed;
    top: 1%;
    left: 0;
    width: 100%;
}

.first-div {
    background-color: #f8f9fa;
    padding: 15px;
    margin: 10px 50px 10px 50px;
}

.Usd-details {
    padding: 10px;
    width: 15%;
    border: 1px solid black;
    margin-left: 68%;
}

.Gbp-details {
    padding: 10px;
    width: 15%;
    border: 1px solid black;
    margin-left: 1%;
}

.eur {

    margin-left: 3.5%;
    margin-top: 6%;
}

.back-home {
    padding: 5px;
    margin-left: 50%;
    width: 25%;
}

.second-div {
    padding: 25px;
    margin: 10px 50px 10px 50px;
    background-color: #f8f9fa;
}

.div-amount {
    margin-left: 0px;
}

.div-amount-input {
    margin: 5px 5px 5px 0px;
    padding: 10px;
    width: 25%;
    border: 1px solid black;
}

.div-second-input {
    padding: 10px;
    margin-top: 0%;
    margin-left: 0%;
    border: 1px solid black;
    width: 25%;
}

.div-from {
    margin-left: 40.5%;
    margin-top: -65px;
}

.div-select1 {
    margin-left: 40%;
    padding: 5px;
    width: 22%;
    margin-top: -4px;
}

.div-to {
    margin-left: 75.5%;
    margin-top: -55px;
}

.div-select2 {
    margin-left: 75%;
    padding: 5px;
    width: 22%;
    margin-top: -4px;
}

.div-convert {
    margin-left: 40.5%;
    padding: 8px;
    margin-top: 3%;
    width: 56.2%;
}

.div-input-3 {
    margin-left: 15.5%;
    margin-right: 2%;
    margin-top: 1%;
    padding: 25px;
    width: 56%;
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .first-div {
        margin-left: 10px;
        width: 92%;
    }

    .Gbp-details {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .Usd-details {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .second-div {
        padding: 15px;
        width: 92%;
        margin-left: 12px;
    }

    .div-amount-input {
        width: 100%;
        /* display: block; */
        margin-bottom: 25px;
        margin-left: 0px;
        margin-top: 5px;
        padding: 5px
    }

    .div-amount {
        margin-left: 0px;
    }

    .div-second-input {
        width: 100%;
        /* display: block; */
        margin-bottom: 25px;
        margin-left: 0px;
        margin-top: 5px;
        padding: 5px
    }

    .eur {
        margin-top: 45%;
    }

    .div-from {
        margin: 0px;
        width: 100%;
        margin-top: -5%;
    }

    .div-select1 {
        width: 100%;
        margin-left: -5px;
    }

    .div-to {
        margin: 0px;
        margin-top: 3%;
        width: 100%;
    }

    .div-select2 {
        width: 100%;
        margin-left: -5px;
    }

    .div-convert {
        width: 100%;
        margin-left: 0px;
    }

    .div-input-3 {
        margin-left: 0px;
        width: 100%;
    }

    .back-home {
        width: 95.5%;
        margin-left: -3px;
    }
}

.column1 {
    float: left;
    width: 94.5%;
    padding: 8px 10px;
    margin-left: 39px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}

/* Style the counter cards */
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 160px;
    text-align: center;
    background-color: #f8f9fa;
}

.arrow {
    width: 80px;
    height: 25px;
    /* display: flex; */
    margin-left: 65.2%;
    margin-right: 60%;
    margin-top: -34px;
    background: linear-gradient(currentColor 0 0) center/calc(100% - 30px) 10px, conic-gradient(from -136deg at right, #0000, currentColor 1deg 90deg, #0000 91deg) right/15px 100%, conic-gradient(from 44deg at left, #0000, currentColor 1deg 90deg, #0000 91deg) left /15px 100%;
    background-repeat: no-repeat;

}